:root {
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.main-container {
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--light-grayish-cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*  */


.card {
    min-width: 100%;
    padding: 30px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--white);
}

.card-bill {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


h5 {
    margin: 0.3rem 0 0.3rem 0;
}

.bill-input, .party-size-input {
    position: relative;
}

.bill-input > img, .party-size-input > img {
    position: absolute;
    top: 50%;
    margin-left: 1rem;
    transform: translateY(-50%);
}


.bill-input > input, .party-size-input > input {
    border: none;
    width: 100%;
    background-color: var(--very-light-grayish-cyan);
    height: 3rem;
}

.bill-tip-options {
    display: flex;
    flex-direction: column;
}

.tip-options {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.8rem;
}

.tip-options > p {
    text-align: center;
    min-height: 2.5rem;
    line-height: 2.5rem;
    margin: 0;
    color: var(--white);
    border-radius: 5px;
    background-color: var(--very-dark-cyan);

}


.card-tip {
    display: flex;
    flex-direction: column;
}

/*  */

.attribution {
    font-size: 11px;
    text-align: center;

    position: fixed;
    bottom: 0;
    height: 1.5rem;
    width: 100%;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*  */